* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(
    to right,
    #64b5f6,
    #4dd0e1
  );
  min-height: 100vh;
}

.container {
  width: 700px;
  margin: 50px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-section input {
  padding: 10px;
}

.input-section button {
  background: #2196f3;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.task-item {
  background: #f5f5f5;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  margin-left: 5px;
  border: none;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
}

.complete {
  background: green;
}

.edit {
  background: orange;
}

.delete {
  background: red;
}